@model Product

@{
    ViewData["Title"] = "Product details";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.Name
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@ViewBag.Image" width="100%" alt="@Model.Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">@Model.Description</p>
                        <p class="card-text">
                            <b>Category: </b>
                            <a asp-controller="Product" asp-action="FilterByCategory" asp-route-categoryId="@Model.CategoryId">
                                @Model.Category.Name
                            </a>
                        </p>
                        <p class="card-text">
                            <b>Brand: </b>
                            <a asp-controller="Product" asp-action="FilterByBrand" asp-route-brandId="@Model.SupplierId">
                                @Model.Supplier.Name
                            </a>
                        </p>
                        <p class="card-text">
                            <b>Price: </b>
                            
                                @Model.Price $
                            
                        </p>
                    </div>
                    @if(User.Identity.IsAuthenticated && User.IsInRole("Admin")){
                        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.Id"><i class="bi bi-pencil-square"></i>Edit </a> 
                        <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@Model.Id"><i class="bi bi-trash"></i>Delete </a>
                    }
                    <a class="btn btn-success text-white" 
                                   asp-controller="Order" 
                                   asp-action="AddItemToShoppingCart" 
                                   asp-route-id="@Model.Id">
                                <i class="bi bi-cart-plus"></i> Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>